[관련 내용 링크 참고](https://velog.io/@shong676/Colab%EA%B3%BC-GitHub-%EC%97%B0%EB%8F%99%ED%95%98%EA%B8%B0)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

!cd /content/drive/MyDrive/개인_프로젝트/titanic_PJT

!git config --global user.email 'riminiop@gmail.com'
!git config --global user.name 'PJH222'

!git add --all

!git commit -m '1'
!git push

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent directories): .git

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

df = pd.read_csv("/content/train.csv", sep=",")
test_df = pd.read_csv("/content/train.csv", sep=",")

# df.head()
# test_df.head()

# 데이터 셋 설명
```
survival : 생존 여부, 1 생존 / 0 생존X
pclass : 티켓 등급, 1/2/3
sibsp : 타이타닉호에 탑승한 형제자매/배우자 수
parch : 타이타닉호에 탑승한 부모/자녀 수
cabin : 객실 번호
fare : 여객 운임 요금
embarked : 승선항 (승선했던 항구), 	C = 셰르부르, Q = 퀸스타운, S = 사우샘프턴
```

In [ ]:
import pandas as pd
import numpy as np

# df의 통계정 정보 출력
# df.describe()



# df의 결측치 개수
df.isnull().sum()
#   현재 age, Cabin, embarked 에서 결측치가 확인이 된다.

# df의 데이터 개수
len(df)

# df의 칼럼 종류
df.columns

# df.isnull().mean() * 100

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### 결측치 각 칼럼별 비율
```
PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64
```
---

우선 결측치를 어떻게 해결할지 고민해보자.
`Age`는 `int`형, `Cabin`과 `embarked`는 `string`이다.

Age결측치 비율은 20%를 차지하므로 __대체__하고,
Cabin 결측치 비율이 77%이므로 이는 __칼럼을 삭제__하는 것이 나을 것으로 보인다.
마지막으로 embarked 결측치 비율은 0.2%인데 __대체__ 해야 할 것으로 보인다.

시간과 관련한 데이터가 없으므로,
평균값 / 최빈값 대체 / MICE를 활용하여 대체를 수행하면 될 것 같다.

# 데이터 전처리

In [ ]:
# df = df.drop("Cabin",axis = 1)
# test_df = test_df.drop("Cabin", axis = 1)
# 한번 수행하면 칼럼이 삭제되므로 2번 이상 실행할 수 없으므로 유의하자.
# df, test_df

In [ ]:
df = pd.read_csv("/content/train.csv", sep=",")

# return이 어떻게 되는지 이해 할 것
df.fillna({'Age':df['Age'].mode()[0],
           'Embarked':df['Embarked'].mode()[0]}, inplace=True)
df_mode = df
df_mode = df_mode.drop(['Cabin'],axis=1)
# df_mode
# Cabin은 제거, 그외의 칼럼은 최빈값으로 대체한 df

In [ ]:
df_mode

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,24.0,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [ ]:
df = pd.read_csv("/content/train.csv", sep=",")

# return이 어떻게 되는지 이해 할 것
df.fillna({'Age':round(df['Age'].mean()),
           'Embarked':df['Embarked'].mode()[0]},inplace=True)
df_mean_mode = df.drop('Cabin', axis=1)
# round(df['Age'].mean())
# Cabin은 제거, Age는 평균으로, Embarked는 최빈값으로 대체
# 반올림 하는 이유는 나이에 소수점은 없기 때문
df_mean_mode

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,30.0,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

df = pd.read_csv("/content/train.csv", sep=",")
df.fillna({'Embarked':df['Embarked'].mode()[0]}, inplace=True)

imputer_mice = IterativeImputer(random_state=32)
# df_mice = pd.DataFrame(imputer_mice.fit_transform(df), columns=df.columns)
# 이상태로 하려면 수행이 안된다.

In [ ]:
df
# Name,PassengerId,Ticket

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### __select_dtypes 사용법__

* include 및 exclude는 비어있거나 겹치면 안되며(에러발생), 스칼라나 list형태의 입력값이 가능합니다.

---
- 숫자형(numeric)은 np.number 또는 'number'
- 문자형(str)은 'object'
- 날짜,시간(datetimes)을 선택하려면 np.datetime64, 'datetime' 또는 'datetime64'
- timedeltas는 np.timedelta64, 'timedelta' or 'timedelta64'
- Pandas의 categorical 타입은 'category'

In [ ]:
df_number = df.select_dtypes('number')

In [ ]:
df_mice = pd.DataFrame(imputer_mice.fit_transform(df_number), columns=df_number.columns)
df_mice

# 이상태로 수행하게 되면, Age타입이 float64이라 나이가 소수점으로 나오게 된다.
# 따라서 이를 방지하기 위해 int64로 변경해보자

     PassengerId  Survived  Pclass        Age  SibSp  Parch     Fare
0            1.0       0.0     3.0  22.000000    1.0    0.0   7.2500
1            2.0       1.0     1.0  38.000000    1.0    0.0  71.2833
2            3.0       1.0     3.0  26.000000    0.0    0.0   7.9250
3            4.0       1.0     1.0  35.000000    1.0    0.0  53.1000
4            5.0       0.0     3.0  35.000000    0.0    0.0   8.0500
..           ...       ...     ...        ...    ...    ...      ...
886        887.0       0.0     2.0  27.000000    0.0    0.0  13.0000
887        888.0       1.0     1.0  19.000000    0.0    0.0  30.0000
888        889.0       0.0     3.0  23.414502    1.0    2.0  23.4500
889        890.0       1.0     1.0  26.000000    0.0    0.0  30.0000
890        891.0       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 7 columns]

In [ ]:
# df_int = df_number.astype({'Age':'int'})
# null 이 포함되어 있을 때는 이를 방지하기 위해 임의값을 기입했다가 다시 Null로 변경해줘야한다.

df_number['Age'] = df_number['Age'].fillna(3).astype(int).replace({3:None})
df_number.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Age             object
SibSp            int64
Parch            int64
Fare           float64
dtype: object

In [ ]:
df_mice = pd.DataFrame(imputer_mice.fit_transform(df_number), columns=df_number.columns)
df_mice
# 내가 지금 필요한 것은 mice 대체를 통해 소수점이 없는 자료를 만드는 것임..

df_mice['Age'] = df_mice['Age'].round(decimals=0)

In [ ]:
df_mice.dtypes
# 왜 근데 다시 float형으로 변한거지??
df_mice = df_mice.astype(int)
df_mice.dtypes

PassengerId    int64
Survived       int64
Pclass         int64
Age            int64
SibSp          int64
Parch          int64
Fare           int64
dtype: object

In [ ]:
dff = df.select_dtypes('object')
dff.head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [ ]:
df_22 = df_mice
df_22[dff.columns] = dff[dff.columns]

In [ ]:
# df_22 = df_22.drop(labels='Cabin',axis=1)
# 전처리 완료
df_22.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
Name           0
Sex            0
Ticket         0
Embarked       0
dtype: int64

# 데이터 모델링

현재 세가지 데이터 셋을 준비하였다.
- 1. df_mode : cabin 제거, 최빈값 대체
- 2. df_mean_mode : cabin 제거, Age 평균 반올림 대체, Embarked 최빈값 대체
- 3. df_22 : cabin 제거, Age mice 반올림 대체, Embarked 최빈값 대체

## df_mode

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df_mode.drop(["Survived","Name","PassengerId","Ticket"], axis=1),
    df_mode['Survived'],
    random_state=42,
    stratify=df_mode['Survived']
)

In [ ]:
import warnings

warnings.filterwarnings('ignore')

# string형 데이터가 있는 칼럼을 명목 척도로 변경하자

def change_data_to_nominal_scale_1(dataframe):
  # 각 데이터를 어떤 명목 척도로 변경했는지 알려주는 용도
  global insturction_dictionary
  insturction_dictionary = {}

  df_columns = dataframe.columns

  for col in df_columns:
    tmp = []
    for data in dataframe[col]:

      # data가 명목척도가 아닌 경우, 생략
      if list(dataframe[col]).count(data) == 1:
        break

      else:
        # data가 숫자형이 아닌 경우만 명목척도로 변환
        if str(data).isdigit() == False:
          if data not in tmp:
            tmp.append(data)

          else:
            # 최적화
            tmp2 = 0

            for i in tmp:
              tmp2 += list(dataframe[col]).count(i)

              if tmp2 == len(dataframe[col]):
                break

    # 명목척도 변수
    idx = 0

    for i in tmp:
      insturction_dictionary[i] = str(idx)
      idx += 1

    idx = 0 # 0으로 다시 초기화 시켜주기
    print(tmp,insturction_dictionary)
    return change_data_to_nominal_scale_2(dataframe)


df_test = df_mode
insturction_dictionary
change_data_to_nominal_scale_1(df_test)

[] {}

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,24.0,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [ ]:
def change_data_to_nominal_scale_2(dataframe):
  for i in range(len(insturction_dictionary)):
    pass
  return dataframe

In [ ]:
print(insturction_dictionary)
df_mode

{}

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,24.0,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [ ]:
change_data_to_nominal_scale(df_mode,'Sex','female')
df_mode

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,24.0,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,Q

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df_mode.drop(["Survived","Name","PassengerId","Ticket"], axis=1),
    df_mode['Survived'],
    random_state=42,
    stratify=df_mode['Survived']
)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

for i in range(len(df_mode.dtypes)):
  if "int" not in str(df_mode.dtypes[i]):
    print(df_mode.columns[i],df_mode.dtypes[i])
# dt_df_mode = DecisionTreeClassifier().fit(X_train,y_train)

Name object
Sex object
Age float64
Ticket object
Fare float64
Embarked object